.sidebar__list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style: none;
}

.sidebar__item {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    padding:20px 0px 20px 20px;
    border-radius: 20px;
}

.users {
    margin: 30px 0px 60px 0px;
    font-size: 28px;
}

.sidebar__item:hover {
    background-color: #2C2C2C;
}

.sidebar__item a {
    text-decoration: none;
    color: #fff;
}

a.activeLink {
    background-color: #8774E1;
    color: white;
}

a.activeLink:hover {
    background-color: #8774E1;
}