.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  color: white;
  border-bottom: 1px solid rgba(141, 141, 141, 0.5);
  grid-area: header;
  background-color: #212121;
}

.header__title {
  font-size: 2.5em;
}

.header__title::before {
  position: relative;
  content: '';
  display: block;
  background-color: #fff;
  width: 25px;
  height: 5px;
  top: 43px;
  left: -30px;
  animation-name: header__title;
  animation-delay: .2s;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes header__title{
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.authUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authUser__avatar {
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-image: url('https://play-lh.googleusercontent.com/0oO5sAneb9lJP6l8c6DH4aj6f85qNpplQVHmPmbbBxAukDnlO7DarDW0b-kEIHa8SQ');
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.authUser span {
  color: #fff;
}

.login {
  color: white;
  border: none;
  background-color: #8C96F0;
  padding: 10px 15px;
  border-radius: 16px;
  font-size: 16px;
}

.login:hover {
  background-color: #8774E1;
  cursor: pointer;
}